<?xml version="1.0" ?>

<launch>

    <arg name="use_sim_time" default="true"/>
    <include file="$(find ncnr_gazebo)/launch/ncnr_bringup.launch" >
              <!--<arg name="use_sim_time" value="$(arg use_sim_time)"/>-->
    </include>

    <!-- Contact monitor -->
    <node name="contactMonitor" pkg="contact_monitor" type="contactMonitor" />

    <!--Register depth with RGB -->
    <node pkg="nodelet" type="nodelet" name="standalone_nodelet" args="manager" output="screen"/>
      <node pkg="nodelet" type="nodelet" name="thorvald_register_images" args="load depth_image_proc/register standalone_nodelet" output="screen">
        <remap from="rgb/camera_info" to="/thorvald_ii/kinect2/hd/camera_info"/>
        <remap from="depth/camera_info" to="/thorvald_ii/kinect2/sd/camera_info"/>
        <remap from="depth/image_rect" to="/thorvald_ii/kinect2/sd/image_depth_rect"/>
        <param name="queue_size" type="int" value="5"/>
        <param name="use_rgb_timestamp" value="True"/>
        <param name="fill_upsampling_holes" value="True"/>

      </node>
</launch>
