<?xml version="1.0" ?>

<launch>

    <arg name="use_sim_time" default="true"/>
    <include file="$(find ncnr_gazebo)/launch/ncnr_bringup.launch" >
              <!--<arg name="use_sim_time" value="$(arg use_sim_time)"/>-->
    </include>

    <node name="contactMonitor" pkg="contact_monitor" type="contactMonitor" />


</launch>
